<a href="https://colab.research.google.com/github/yahia-kplr/Web_Interface_API/blob/main/step%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from flask import Flask

In [2]:
app = Flask(__name__)

In [3]:
@app.route("/")
def index():
    return "Hello"

In [4]:
@app.route("/test1")
def index1():
    return "<h3> Hello world </h3>"

In [5]:
@app.route("/test2")
def index2():
    return "<h1> Hello world </h1>"

In [6]:
@app.route("/test3")
def index3():
    return """
    
    <h1> Hello world </h1>
    <p>I love python </p>
    
    """

In [7]:
app.run(port=5000)

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
127.0.0.1 - - [12/Dec/2022 09:58:39] "GET /test3 HTTP/1.1" 200 -
127.0.0.1 - - [12/Dec/2022 09:58:39] "GET /favicon.ico HTTP/1.1" 404 -

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
        "Fruit": ["Apples", "Oranges", "Bananas", "Apples", "Oranges", "Bananas"],
        "Amount": [4, 1, 2, 2, 4, 5],
        "City": ["SF", "SF", "SF", "Montreal", "Montreal", "Montreal"]
    })
df

     Fruit  Amount      City
0   Apples       4        SF
1  Oranges       1        SF
2  Bananas       2        SF
3   Apples       2  Montreal
4  Oranges       4  Montreal
5  Bananas       5  Montreal

In [3]:
tuples = [tuple(x) for x in df.to_numpy()]
tuples

[('Apples', 4, 'SF'),
 ('Oranges', 1, 'SF'),
 ('Bananas', 2, 'SF'),
 ('Apples', 2, 'Montreal'),
 ('Oranges', 4, 'Montreal'),
 ('Bananas', 5, 'Montreal')]

In [4]:
cols = ','.join(list(df.columns))
cols

'Fruit,Amount,City'

In [5]:
table='us_fruits'
query = "INSERT INTO %s(%s) VALUES %%s" % (table, cols)
query

'INSERT INTO us_fruits(Fruit,Amount,City) VALUES %s'