In [64]:
import sqlalchemy as sqa
sqa.__version__

'1.4.44'

In [122]:
engine = sqa.create_engine('postgresql://pbntciav:i2SRiKluRqf6WtifDKplLNfz6p9lKT_1@floppy.db.elephantsql.com/pbntciav',echo=True)

In [123]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [124]:
from application import db
from datetime import datetime

class IncomeExpenses(Base):
    __tablename__ = 'api_sold'
    
    id = db.Column(db.Integer,primary_key=True)
    type = db.Column(db.String(30),default='income',nullable=False)
    category= db.Column(db.String(30),default='rent',nullable=False)
    date  = db.Column(db.DateTime,default=datetime.utcnow,nullable=False)
    amount = db.Column(db.Integer,nullable=False)
    
    
    
    def __repr__(self):
        return "IncomeExpenses(id = {}, type = {}, category = {}, date = {}, amount = {})".format(
            self.id,
            self.type,
            self.category,
            self.date,
            self.amount)

In [125]:
IncomeExpenses.__table__

Table('api_sold', MetaData(), Column('id', Integer(), table=<api_sold>, primary_key=True, nullable=False), Column('type', String(length=30), table=<api_sold>, nullable=False, default=ColumnDefault('income')), Column('category', String(length=30), table=<api_sold>, nullable=False, default=ColumnDefault('rent')), Column('date', DateTime(), table=<api_sold>, nullable=False, default=ColumnDefault(<function datetime.utcnow at 0x0000019CD69E36A0>)), Column('amount', Integer(), table=<api_sold>, nullable=False), schema=None)

In [126]:
Base.metadata.create_all(engine)

2022-12-14 11:52:00,737 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2022-12-14 11:52:00,738 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-14 11:52:01,324 INFO sqlalchemy.engine.Engine select current_schema()
2022-12-14 11:52:01,326 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-14 11:52:01,882 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2022-12-14 11:52:01,883 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-14 11:52:02,437 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-14 11:52:02,440 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-12-14 11:52:02,441 INFO sqlalchemy.engine.Engine [generated in 0.00158s] {'name': 'api_sold'}
2022-12-14 11:52:03,050 INFO sqlalchemy.engine.Engine
CREATE TABLE api_sold (
	id SERIAL NOT NULL,
	type VARCHAR(30) NOT NULL,
	category VARCHAR(30) NOT NULL,
	date TIMESTAMP WITHOUT TIME ZONE NOT NULL,
	amount INTEGER NOT NULL,
	PRIMARY KEY (id)
)


2022-12-14 11:52:03,051 INFO sqlalchemy.engine.Engine [no key 0.00189s] {}
2022-12-14 11:52:03,339 INFO sqlalchemy.engine.Engine COMMIT

In [127]:
from sqlalchemy.orm import Session,sessionmaker
from sqlalchemy.orm import sessionmaker
# create a Session
Session = sessionmaker(bind=engine)
session = Session()

In [128]:
# Create objects  
user = IncomeExpenses(type="income",amount=5000000,category="salary")
session.add(user)

In [129]:
# commit the record the database
session.commit()

2022-12-14 11:52:13,543 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-14 11:52:13,554 INFO sqlalchemy.engine.Engine INSERT INTO api_sold (type, category, date, amount) VALUES (%(type)s, %(category)s, %(date)s, %(amount)s) RETURNING api_sold.id
2022-12-14 11:52:13,555 INFO sqlalchemy.engine.Engine [generated in 0.00145s] {'type': 'income', 'category': 'salary', 'date': datetime.datetime(2022, 12, 14, 10, 52, 13, 554290), 'amount': 5000000}
2022-12-14 11:52:14,114 INFO sqlalchemy.engine.Engine COMMIT

In [130]:
# Create objects  
user = IncomeExpenses(type="expense",amount=3000,category="rent")
session.add(user)

In [131]:
# Create objects  
user = IncomeExpenses(type="expense",amount=2000,category="feeding")
session.add(user)

In [132]:
# Create objects  
user = IncomeExpenses(type="income",amount=7000,category="salary")
session.add(user)

In [133]:
# commit the record the database
session.commit()

2022-12-14 11:52:16,931 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-14 11:52:16,934 INFO sqlalchemy.engine.Engine INSERT INTO api_sold (type, category, date, amount) VALUES (%(type)s, %(category)s, %(date)s, %(amount)s) RETURNING api_sold.id
2022-12-14 11:52:16,934 INFO sqlalchemy.engine.Engine [generated in 0.00057s] ({'type': 'expense', 'category': 'rent', 'date': datetime.datetime(2022, 12, 14, 10, 52, 16, 934021), 'amount': 3000}, {'type': 'expense', 'category': 'feeding', 'date': datetime.datetime(2022, 12, 14, 10, 52, 16, 934021), 'amount': 2000}, {'type': 'income', 'category': 'salary', 'date': datetime.datetime(2022, 12, 14, 10, 52, 16, 934021), 'amount': 7000})
2022-12-14 11:52:17,488 INFO sqlalchemy.engine.Engine COMMIT

In [134]:
session.rollback()

In [135]:
entries = session.query(IncomeExpenses).order_by(IncomeExpenses.date.desc()).all()
for entry in entries:
    print(f"{entry.type},{entry.category},{entry.amount},{entry.date}")

2022-12-14 11:52:36,824 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-14 11:52:36,826 INFO sqlalchemy.engine.Engine SELECT api_sold.id AS api_sold_id, api_sold.type AS api_sold_type, api_sold.category AS api_sold_category, api_sold.date AS api_sold_date, api_sold.amount AS api_sold_amount
FROM api_sold ORDER BY api_sold.date DESC
2022-12-14 11:52:36,827 INFO sqlalchemy.engine.Engine [generated in 0.00072s] {}
expense,rent,3000,2022-12-14 10:52:16.934021
expense,feeding,2000,2022-12-14 10:52:16.934021
income,salary,7000,2022-12-14 10:52:16.934021
income,salary,5000000,2022-12-14 10:52:13.554290

In [136]:
session.query(IncomeExpenses).get(1)

IncomeExpenses(id = 1, type = income, category = salary, date = 2022-12-14 10:52:13.554290, amount = 5000000)

In [148]:
session.rollback()

2022-12-14 13:28:03,931 INFO sqlalchemy.engine.Engine ROLLBACK

In [149]:
from sqlalchemy.sql import func
session.query(func.sum(IncomeExpenses.amount),IncomeExpenses.type).group_by(IncomeExpenses.type).order_by(IncomeExpenses.type).all()

2022-12-14 13:28:04,444 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-14 13:28:04,445 INFO sqlalchemy.engine.Engine SELECT sum(api_sold.amount) AS sum_1, api_sold.type AS api_sold_type
FROM api_sold GROUP BY api_sold.type ORDER BY api_sold.type
2022-12-14 13:28:04,445 INFO sqlalchemy.engine.Engine [cached since 14.37s ago] {}

[(9044, 'expense'), (5000, 'income')]

In [153]:
dates = session.query(func.sum(IncomeExpenses.amount), IncomeExpenses.date).group_by(
        IncomeExpenses.date).order_by(IncomeExpenses.date).all()
over_time_expenditure = []
dates_labels=[]
for amount, date in dates:
    over_time_expenditure.append(amount)
    dates_labels.append(date.date())
    
print(over_time_expenditure)
print(dates_labels)

2022-12-14 14:27:41,229 INFO sqlalchemy.engine.Engine SELECT sum(api_sold.amount) AS sum_1, api_sold.date AS api_sold_date
FROM api_sold GROUP BY api_sold.date ORDER BY api_sold.date
2022-12-14 14:27:41,230 INFO sqlalchemy.engine.Engine [cached since 50.06s ago] {}
[5000, 9000, 44]
[datetime.date(2022, 12, 14), datetime.date(2022, 12, 14), datetime.date(2022, 12, 14)]

In [81]:
session.query(IncomeExpenses).get(1).date

datetime.datetime(2022, 12, 13, 11, 34, 0, 849787)

In [141]:
query="select * FROM {};".format("public.api_sold")
engine.execute(query)

2022-12-14 12:00:16,726 INFO sqlalchemy.engine.Engine select * FROM public.api_sold;
2022-12-14 12:00:16,727 INFO sqlalchemy.engine.Engine [raw sql] {}

In [139]:
query="DELETE FROM api_sold WHERE id = 1"
engine.execute("DELETE FROM api_sold WHERE id = 1")

2022-12-14 11:53:43,185 INFO sqlalchemy.engine.Engine DELETE FROM api_sold WHERE id = 1
2022-12-14 11:53:43,187 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-14 11:53:43,741 INFO sqlalchemy.engine.Engine COMMIT

In [83]:
import psycopg2
connection = psycopg2.connect("postgresql://bccgxmfz:JAsuLsAgJqQYpLUyBCRQXM7ZsmJTGdWn@babar.db.elephantsql.com/bccgxmfz")

In [87]:
cursor = connection.cursor()
# query=
cursor.execute("DELETE FROM 'IncomeExpenses' WHERE id = {0}".format(1))

SyntaxError: syntax error at or near "'IncomeExpenses'"
LINE 1: DELETE FROM 'IncomeExpenses' WHERE id = 1
                    ^

In [90]:
import sqlalchemy
def automap_database(engine):
    ### useful: extract classes from the chinook database
    metadata = sqlalchemy.MetaData()
    metadata.reflect(engine)

    ## we need to do this once
    from sqlalchemy.ext.automap import automap_base

    # produce a set of mappings from this MetaData.
    Base = automap_base(metadata=metadata)

    # calling prepare() just sets up mapped classes and relationships.
    Base.prepare()
    return Base

In [96]:
# create dynamic classes for every table using automap 
AutoMapBase = automap_database(engine)
# which classes were generated?
print('Generated the following classes:')
print('\t', ', '.join(AutoMapBase.classes.keys()))

2022-12-14 11:23:59,840 INFO sqlalchemy.engine.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2022-12-14 11:23:59,841 INFO sqlalchemy.engine.Engine [cached since 210.3s ago] {'schema': 'public'}
2022-12-14 11:24:00,303 INFO sqlalchemy.engine.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in
            ('r', 'v', 'm', 'f', 'p')

2022-12-14 11:24:00,304 INFO sqlalchemy.engine.Engine [cached since 210.3s ago] {'table_name': 'IncomeExpenses'}
2022-12-14 11:24:00,536 INFO sqlalchemy.engine.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (
                SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
                WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
                AND a.atthasdef
              ) AS DEFAULT,
              a.attnotnull,
              a.attrelid as table_oid,
              pgd.description as comment,
              a.attgenerated as generated,
                              (SELECT json_build_object(
                    'always', a.attidentity = 'a',
                    'start', s.seqstart,
                    'increment', s.seqincrement,
                    'minvalue', s.seqmin,
                    'maxvalue', s.seqmax,
                    'cache', s.seqcache,
                    'cycle', s.seqcycle)
                FROM pg_catalog.pg_sequence s
                JOIN pg_catalog.pg_class c on s.seqrelid = c."oid"
                WHERE c.relkind = 'S'
                AND a.attidentity != ''
                AND s.seqrelid = pg_catalog.pg_get_serial_sequence(
                    a.attrelid::regclass::text, a.attname
                )::regclass::oid
                ) as identity_options
            FROM pg_catalog.pg_attribute a
            LEFT JOIN pg_catalog.pg_description pgd ON (
                pgd.objoid = a.attrelid AND pgd.objsubid = a.attnum)
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2022-12-14 11:24:00,536 INFO sqlalchemy.engine.Engine [cached since 210.3s ago] {'table_oid': 661394}
2022-12-14 11:24:00,769 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2022-12-14 11:24:00,770 INFO sqlalchemy.engine.Engine [cached since 210.3s ago] {}
2022-12-14 11:24:01,002 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2022-12-14 11:24:01,004 INFO sqlalchemy.engine.Engine [cached since 210.3s ago] {}
2022-12-14 11:24:01,235 INFO sqlalchemy.engine.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2022-12-14 11:24:01,236 INFO sqlalchemy.engine.Engine [cached since 210.3s ago] {'table_oid': 661394}
2022-12-14 11:24:01,472 INFO sqlalchemy.engine.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2022-12-14 11:24:01,472 INFO sqlalchemy.engine.Engine [cached since 210.3s ago] {'table_oid': 661394}
2022-12-14 11:24:01,714 INFO sqlalchemy.engine.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2022-12-14 11:24:01,716 INFO sqlalchemy.engine.Engine [cached since 210.3s ago] {'table': 661394}
2022-12-14 11:24:01,949 INFO sqlalchemy.engine.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  ix.indoption::varchar, i.reloptions, am.amname,
                  pg_get_expr(ix.indpred, ix.indrelid),
                  ix.indnkeyatts as indnkeyatts
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm', 'p')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2022-12-14 11:24:01,951 INFO sqlalchemy.engine.Engine [cached since 210.3s ago] {'table_oid': 661394}
2022-12-14 11:24:02,185 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2022-12-14 11:24:02,186 INFO sqlalchemy.engine.Engine [cached since 210.3s ago] {'table_oid': 661394}
2022-12-14 11:24:02,420 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                pg_get_constraintdef(cons.oid) as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2022-12-14 11:24:02,421 INFO sqlalchemy.engine.Engine [cached since 210.3s ago] {'table_oid': 661394}
2022-12-14 11:24:02,652 INFO sqlalchemy.engine.Engine
            SELECT
                pgd.description as table_comment
            FROM
                pg_catalog.pg_description pgd
            WHERE
                pgd.objsubid = 0 AND
                pgd.objoid = %(table_oid)s

2022-12-14 11:24:02,652 INFO sqlalchemy.engine.Engine [cached since 210.3s ago] {'table_oid': 661394}
Generated the following classes:
	 IncomeExpenses

In [113]:
# lets get the Album class for the albums table
Album = AutoMapBase.classes['IncomeExpenses']

# what columns are available in this class?
print('columns for Album class:')
print('\t', Album.__table__.columns) # 'albums.AlbumId', 'albums.Title', 'albums.ArtistId'

# lets get the first album and print it out
first_album = session.query(Album).first()
print()
print('first album:', type(first_album))
# print('\t', first_album.AlbumId, first_album.Title, first_album.ArtistId)

columns for Album class:
	 ImmutableColumnCollection(IncomeExpenses.id, IncomeExpenses.type, IncomeExpenses.category, IncomeExpenses.date, IncomeExpenses.amount)
2022-12-14 11:28:20,176 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-14 11:28:20,177 INFO sqlalchemy.engine.Engine SELECT "IncomeExpenses".id AS "IncomeExpenses_id", "IncomeExpenses".type AS "IncomeExpenses_type", "IncomeExpenses".category AS "IncomeExpenses_category", "IncomeExpenses".date AS "IncomeExpenses_date", "IncomeExpenses".amount AS "IncomeExpenses_amount"
FROM "IncomeExpenses"
 LIMIT %(param_1)s
2022-12-14 11:28:20,178 INFO sqlalchemy.engine.Engine [cached since 43.72s ago] {'param_1': 1}

first album: <class 'sqlalchemy.ext.automap.IncomeExpenses'>

In [112]:
session.rollback()

2022-12-14 11:28:17,013 INFO sqlalchemy.engine.Engine ROLLBACK